/**
* Color schemes
*
*/

html.blue-theme {
	.sitetitle {
		color: @middleBlue;
	}

	#flash-ad {
		background: url(../../img/calendarpics/1.jpg);
		width: 100%;
		height: 6 * @magicNumber;
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.article1 h1,
	.article1 h2,
	.calendar-heading {
		font-family: @fontFamilyCalibri;
		border-bottom: 1px solid @middleBlue;
	}

	#main a,
	#footer a,
	.article1 a,
	.comments-name a,
	.left-calendar-link a,
	.right-calendar-link a {
		color: @middleBlue;
	}

	.navbar li.selected-parent, 
	.navbar li.is-parent, 
	.navbar li.selected {
		color: @middleBlue; 
		border-color: @middleBlue;
	}

	.navbar li li.selected {
		color: @middleBlue; 
		border-color: @middleBlue;
	}

	.comments-heading {
		border-bottom: 2px solid @middleBlue;
	}

	#featured-1,
	#featured-2,
	#featured-3,
	#triptych-1,
	#triptych-2,
	#triptych-3 {
		background: linear-gradient(to left, rgba(51, 51, 255, 0.2),  rgba(0, 0, 0, 0));
	}

	#footer-col-1,
	#footer-col-2,
	#footer-col-3, 
	#footer-col-4 {
		background: linear-gradient(to left, rgba(51, 51, 255, 0.2),  rgba(0, 0, 0, 0));
	}

}

html.green-theme {
	.sitetitle {
		color: @green;
	}

	#flash-ad {
		background: url(../../img/calendarpics/6.jpg);
		width: 100%;
		height: 6 * @magicNumber;
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.article1 h1,
	.article1 h2,
	.calendar-heading {
		font-family: @fontFamilyMyriadPro;
		border-bottom: 1px solid @green;
	}

	#main a,
	#footer a,
	.article1 a,
	.comments-name a,
	.left-calendar-link a,
	.right-calendar-link a {
		color: @green;
	}

	.navbar li.selected-parent, 
	.navbar li.is-parent, 
	.navbar li.selected {
		color: @green; 
		border-color: @green;
	}

	.navbar li li.selected {
		color: @green;
		border-color: @green;
	}

	.comments-heading {
		border-bottom: 2px solid @green;
	}

	#featured-1,
	#featured-2,
	#featured-3,
	#triptych-1,
	#triptych-2,
	#triptych-3 {
		background: linear-gradient(to left, rgba(51, 153, 51, 0.2),  rgba(0, 0, 0, 0));
	}

	#footer-col-1,
	#footer-col-2,
	#footer-col-3, 
	#footer-col-4 {
		background: linear-gradient(to left, rgba(51, 153, 51, 0.2),  rgba(0, 0, 0, 0));
	}
}

html.purple-theme {
	.sitetitle {
		color: @purple;
	}

	#flash-ad {
		background: url(../../img/calendarpics/7.jpg);
		width: 100%;
		height: 6 * @magicNumber;
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.article1 h1,
	.article1 h2,
	.calendar-heading {
		font-family: @fontFamilyOrbitron;
		border-bottom: 1px solid @purple;
	}

	#main a,
	#footer a,
	.article1 a,
	.comments-name a,
	.left-calendar-link a,
	.right-calendar-link a {
		color: @purple;
	}

	.navbar li.selected-parent, 
	.navbar li.is-parent, 
	.navbar li.selected {
		color: @purple; 
		border-color: @purple;
	}

	.navbar li li.selected {
		color: @purple; 
		border-color: @purple;
	}

	.comments-heading {
		border-bottom: 2px solid @purple;
	}

	#featured-1,
	#featured-2,
	#featured-3,
	#triptych-1,
	#triptych-2,
	#triptych-3 {
		background: linear-gradient(to left, rgba(102, 51, 204, 0.2),  rgba(0, 0, 0, 0));
	}

	#footer-col-1,
	#footer-col-2,
	#footer-col-3, 
	#footer-col-4 {
		background: linear-gradient(to left, rgba(102, 51, 204, 0.2),  rgba(0, 0, 0, 0));
	}
}

html.red-theme {
	.sitetitle {
		color: @candyRed;
	}

	#flash-ad {
		background: url(../../img/calendarpics/10.jpg);
		width: 100%;
		height: 6 * @magicNumber;
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.article1 h1,
	.article1 h2,
	.calendar-heading {
		border-bottom: 1px solid @candyRed;
	}

	#main a,
	#footer a,
	.article1 a,
	.comments-name a,
	.left-calendar-link a,
	.right-calendar-link a {
		color: @candyRed;
	}

	.navbar li.selected-parent, 
	.navbar li.is-parent, 
	.navbar li.selected {
		color: @candyRed; 
		border-color: @candyRed;
	}

	.navbar li li.selected {
		color: @candyRed; 
		border-color: @candyRed;
	}

	.comments-heading {
		border-bottom: 2px solid @candyRed;
	}

	#featured-1,
	#featured-2,
	#featured-3,
	#triptych-1,
	#triptych-2,
	#triptych-3 {
		background: linear-gradient(to left, rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0));
	}

	#footer-col-1,
	#footer-col-2,
	#footer-col-3, 
	#footer-col-4 {
		background: linear-gradient(to left, rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0));
	}
}