/**
* Color schemes
*
*/

html.blue-theme {
	.sitetitle {
		color: @middleBlue;
	}

	.article1 h1,
	.article1 h2,
	.article2 h1,
	.article2 h2,
	.calendar-heading {
		font-family: @fontFamilyCalibri;
		border-bottom: 1px solid @middleBlue;
	}

	#main a,
	//#footer a,
	//.article1 a,
	.comments-name a,
	.left-calendar-link a,
	.right-calendar-link a {
		color: @middleBlue;
	}

	.navbar li.selected-parent,
	.navbar li.is-parent,
	.navbar li.selected {
		color: @middleBlue;
		border-color: @middleBlue;
	}

	.navbar li li.selected {
		color: @middleBlue;
		border-color: @middleBlue;
	}

	.comments-heading {
		border-bottom: 2px solid @middleBlue;
	}

	#featured-1,
	#featured-2,
	#featured-3,
	#triptych-1,
	#triptych-2,
	#triptych-3 {
		background: linear-gradient(to left, rgba(51, 51, 255, 0.2),  rgba(0, 0, 0, 0));
	}

	#footer-col-1,
	#footer-col-2,
	#footer-col-3,
	#footer-col-4 {
		background: linear-gradient(to left, rgba(51, 51, 255, 0.2),  rgba(0, 0, 0, 0));
	}

}

html.green-theme {
	.sitetitle {
		color: @green;
	}

	.article1 h1,
	.article1 h2,
	.article2 h1,
	.article2 h2,
	.calendar-heading {
		font-family: @fontFamilyMyriadPro;
		border-bottom: 1px solid @green;
	}

	#main a,
	//#footer a,
	//.article1 a,
	.comments-name a,
	.left-calendar-link a,
	.right-calendar-link a {
		color: @green;
	}

	.navbar li.selected-parent,
	.navbar li.is-parent,
	.navbar li.selected {
		color: @green;
		border-color: @green;
	}

	.navbar li li.selected {
		color: @green;
		border-color: @green;
	}

	.comments-heading {
		border-bottom: 2px solid @green;
	}

	#featured-1,
	#featured-2,
	#featured-3,
	#triptych-1,
	#triptych-2,
	#triptych-3 {
		background: linear-gradient(to left, rgba(51, 153, 51, 0.2),  rgba(0, 0, 0, 0));
	}

	#footer-col-1,
	#footer-col-2,
	#footer-col-3,
	#footer-col-4 {
		background: linear-gradient(to left, rgba(51, 153, 51, 0.2),  rgba(0, 0, 0, 0));
	}
}

html.purple-theme {
	.sitetitle {
		color: @purple;
	}

	.article1 h1,
	.article1 h2,
	.article2 h1,
	.article2 h2,
	.calendar-heading {
		font-family: @fontFamilyOrbitron;
		border-bottom: 1px solid @purple;
	}

	#main a,
	//#footer a,
	//.article1 a,
	.comments-name a,
	.left-calendar-link a,
	.right-calendar-link a {
		color: @purple;
	}

	.navbar li.selected-parent,
	.navbar li.is-parent,
	.navbar li.selected {
		color: @purple;
		border-color: @purple;
	}

	.navbar li li.selected {
		color: @purple;
		border-color: @purple;
	}

	.comments-heading {
		border-bottom: 2px solid @purple;
	}

	#featured-1,
	#featured-2,
	#featured-3,
	#triptych-1,
	#triptych-2,
	#triptych-3 {
		background: linear-gradient(to left, rgba(102, 51, 204, 0.2),  rgba(0, 0, 0, 0));
	}

	#footer-col-1,
	#footer-col-2,
	#footer-col-3,
	#footer-col-4 {
		background: linear-gradient(to left, rgba(102, 51, 204, 0.2),  rgba(0, 0, 0, 0));
	}
}

html.red-theme {
	.sitetitle {
		color: @candyRed;
	}

	.article1 h1,
	.article1 h2,
	.article2 h1,
	.article2 h2,
	.calendar-heading {
		border-bottom: 1px solid @candyRed;
	}

	#main a,
	//#footer a,
	//.article1 a,
	.comments-name a,
	.left-calendar-link a,
	.right-calendar-link a {
		color: @candyRed;
	}

	/*
	* Accepted answer
	*/
	.answer-accepted, .answer-accepted a {
	    color: @green;
	}

	/*
	* Not yet accepted answer
	*/
	.answer-not-accepted a {
	    color: @grey;
	}

	.answer-not-accepted a:hover {
	    color: @green;
	}

	.navbar li.selected-parent,
	.navbar li.is-parent,
	.navbar li.selected {
		color: @candyRed;
		border-color: @candyRed;
	}

	.navbar li li.selected {
		color: @candyRed;
		border-color: @candyRed;
	}

	.comments-heading {
		border-bottom: 2px solid @candyRed;
	}

	#featured-1,
	#featured-2,
	#featured-3,
	#triptych-1,
	#triptych-2,
	#triptych-3 {
		background: linear-gradient(to left, rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0));
	}

	#footer-col-1,
	#footer-col-2,
	#footer-col-3,
	#footer-col-4 {
		background: linear-gradient(to left, rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0));
	}
}
