/**
 * Comments
 */

 .comments {
     .clearfix();
     margin-top: @magicNumber;
     margin-right: 15px;
     width: 90%;
     padding-bottom: @magicNumber;
     border-bottom: 1px solid #eee;
 }

 .comments-hr {
 	color: #ffffff;
 }

 .comments-heading-container {
 	position: relative;
 	height: @magicNumber;
 }

 .comments-heading {
 	height: @magicNumber;
 	float: left;
 	font-weight: bold;
 	width: 150px;
 	line-height: 0.5em;
 }

 .comments-heading-side {
 	height: @magicNumber;
 	margin-left: 10%;
 	line-height: 0.5em;
 	border-bottom: 2px solid #eee;
 }

 .comment-container {
     .clearfix();
 	position: relative;
    margin-left: 10%;
 	margin-top: 11px;
 	padding-bottom: 7px;
 	border-bottom: 1px dotted #ddd;
 }

 .comments img {
 	//float: left;
    max-width: 100px;
    margin: 5px;
 }

 .comment-detail-stats {
     float: left;
     line-height: @magicNumber / 5;
     text-align: center;
     width: 5%;
 }

 .comment-section {
 	color: #777;
 	font-size: @fontSizeSmaller;
 	//margin-left: 5%;
    //width: 95%;
 }

 .comment-section p {
     margin-bottom: 5px;
 }

 .comment-userinfo {
     text-align: right;
 }

 .comments-name {
 	//font-size: @fontSizeSmall;
 }

 .comments-id-time {
 	//font-size: @fontSizeSmall;
 }

 .comments-id-time a {
 	color: #666;
 }

 .comment-homepage-link a {
 	color: #999;
 	text-decoration: none;
 }

 .italics {
 	font-style: italic;
 }

 .comment-button-container {
     margin-left: 10%;
 	line-height: @magicNumber * 2;
 }

 input.buttons, a.comment-button {
 	color:#333 !important;
 	font: 80% 'Roboto', sans-serif;
 	padding: 7px;
 	background-color: #ddd;
 	border-color: #999;
 	border-style: solid;
 	-webkit-transition: all 0.2s ease-in-out;
 	-moz-transition: all 0.2s ease-in-out;
 	-o-transition: all 0.2s ease-in-out;
 	transition: all 0.2s ease-in-out;
 }

 input.buttons:hover, a.comment-button:hover {
 	color: #fff !important;
 	border-color: #666;
 	background-color: #666;
 }

 a.comment-button:hover {
 	text-decoration: none;
 }

 a.comment-button:active {
 	top: 0px;
 }

 .uplink {
 	margin-top: @magicNumber;
 }

 .uplink a {
 	text-decoration: none;
 	color: @candyRed;
 }

 .uplink a:hover {
 	text-decoration: underline;
 }

 .edit-button, .sort-button {
 	color:#999;
 	font: 70% 'Roboto', sans-serif;
 	padding: 3px;
 	background-color: #fff;
 	border-color: #ddd;
 	border-style: solid;
 	-webkit-transition: all 0.2s ease-in-out;
 	-moz-transition: all 0.2s ease-in-out;
 	-o-transition: all 0.2s ease-in-out;
 	transition: all 0.2s ease-in-out;
 }

 .edit-button:hover, .sort-button:hover {
 	text-decoration: none;
 	color: #fff;
 	border-color: #666;
 	background-color: #666;
 }

 .button-right {
 	//float: right;
 	text-align: right;
 }

 .comment-form-container {
     margin-left: 10%;
 }

 .comment-form-container h4, .comment-form-userinfo {
     margin-top: @magicNumber;
     //margin-left: 10%;
 }

 .comment-form-userinfo {
     text-align: right;
     border-bottom: 1px dotted #ddd;
 }

 .comment-form-userinfo a {
     color: @candyRed;
 }

 input.text {
 	width: 75%;
 	border-style: none;
 	box-shadow: 1px 1px 1px #999;
 	font-size: 14px;
 }

 .comment-form {
    //margin-left: 10%;
 	max-width: 100%;
 	background-color: #F5F5F5;
 }

 .comment-form fieldset {
 	border-style: none;
 }

 .comment-form textarea {
 	width: 100%;
 	height: 100px;
 	border-style: none;
 	box-shadow: 1px 1px 1px #999;
 	font-size: 14px;
 }
