/**
* style for questions
*
*/
.question-shortlist-container {
    .clearfix();
    border-bottom: 1px solid rgb(234, 235, 236);
    margin-bottom: 20px;
}

.question-stats {
    float: left;
    text-align: center;
    width: 10%;
}

.stats-box {
    padding: 7px;
    color: #999;
    background: rgb(244, 245, 246);
}

.answers-exist {
    background: #999;
    padding: 7px;
    color: #ffffee;
}

.question-shortlist-content {
    margin-left: 10%;
    padding-left: 10px;
    width: 90%;
    font-size: @fontSizeSmall;
}

.question-shortlist-userinfo {
    position: relative;
    float: right;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    max-height: 50px;
    background: rgb(234, 235, 236);
}

.question-shortlist-userinfo img {
    float: left;
    margin-right: 6px;
    margin-top: 4px;
    margin-left: 4px;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 2px #999;
}

.question-title-heading a {
    color: @theme-color;
}
