/**
* Tag styling
*/
.tag-box {
    font-size: @fontSizeSmall;
}

.tag-badge {
    display: inline-block;
    border-radius: 2px 2px 2px;
    background: rgb(135, 135, 135);
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: @fontSizeSmall;
}

.tag-badge a {
    text-decoration: none;
    color: #fff !important;
}

.tag-badge a:hover {
    text-decoration: none;
}

.tag-badge:hover {
    background: rgb(54, 54, 54);
}

.tag-table td {
    padding-top: @magicNumber;
}
