.inactive, .inactive a {
	color: grey !important;
}

.deleted a {
	text-decoration: line-through;
	color: grey !important;
}

.centered {
	text-align: center;
}

.tab-section {
	height: @magicNumber * 1.25;
    margin-bottom: @magicNumber;
    line-height: 1em;
	//border-bottom: 3px solid #ddd;
}

/*
.tab-section h4 {
	float: left;
}
*/
